# dependencies
node_modules/
client/node_modules/
server/node_modules/
frontend/node_modules/
backend/
tests/

# env files
.env
.env.*
server/.env
client/.env
frontend/.env

# logs
logs
*.log

# build
frontend/dist/
build/
turfarena-gis-admin/
turfarena-gis-user/
client/dist/
# OS
.DS_Store
Thumbs.db